<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Rick y Morty API PHP</title>
</head>
<body>

    <h1> Personajes Rick y Morty - {{ character.name }} - {{ character.id }}</h1>
    <div class="container">


      <div class="box_detail">
        <img src="{{ character.image }}" alt="">
        <p>{{ character.name }}</p>
        <p>{{ character.status }}</p>
        <p>{{ character.species }}</p>
        <p>
          Capitulos en los que aparece:
          <ul>
            {% for episode in character.episode %}
              <li>{{ episode }}</li>
            {% endfor %}
          </ul>
        </p>
      </div>


    </div>





</body>
</html>