<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Rick y Morty API PHP</title>
</head>
<body>

    <div class="header">
      <div class="title"><h1> Personajes Rick y Morty -- {{ character.name }} - {{ character.id }}</h1></div>
      <div class="modo_noche">
        <label class="switch">
        <input type="checkbox" name="checkbox">
        <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="container_detail">
      <div class="box_detail">
        <img src="{{ character.image }}" alt="">
    </div>

      <div class="box_detail">

        <div class="box_detail_data">
          <label for="name">Nombre: </label>{{ character.name }}<br/>
          <label for="status">Status: </label>{{ character.status }}<br/>
          <label for="species">Especie: </label>{{ character.species }}<br/>
        </div>

        <div class="box_detail_episodes">
          Capitulos en los que aparece:
          <ul>
            {% for episode in character.episode %}
              <li>{{ episode }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>


    </div>




  <script src="./js/main.js"></script>
</body>
</html>